<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="compare_result"/>
                <entry key="1" type="xstring" value="classified names"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="37"/>
                <entry key="0" type="xstring" value="Resident ID"/>
                <entry key="1" type="xstring" value="c_Resident"/>
                <entry key="2" type="xstring" value="c_DoB"/>
                <entry key="3" type="xstring" value="c_Current Age"/>
                <entry key="4" type="xstring" value="c_Education"/>
                <entry key="5" type="xstring" value="Location"/>
                <entry key="6" type="xstring" value="Income"/>
                <entry key="7" type="xstring" value="Customer ID"/>
                <entry key="8" type="xstring" value="Name"/>
                <entry key="9" type="xstring" value="Updated_Birthday"/>
                <entry key="10" type="xstring" value="Updated_Age"/>
                <entry key="11" type="xstring" value="Education Level"/>
                <entry key="12" type="xstring" value="City"/>
                <entry key="13" type="xstring" value="Purchase Date"/>
                <entry key="14" type="xstring" value="Shopping List"/>
                <entry key="15" type="xstring" value="Item List"/>
                <entry key="16" type="xstring" value="Item A"/>
                <entry key="17" type="xstring" value="Item B"/>
                <entry key="18" type="xstring" value="Item C"/>
                <entry key="19" type="xstring" value="Item D"/>
                <entry key="20" type="xstring" value="Item E"/>
                <entry key="21" type="xstring" value="Item F"/>
                <entry key="22" type="xstring" value="Item G"/>
                <entry key="23" type="xstring" value="Item H"/>
                <entry key="24" type="xstring" value="Item I"/>
                <entry key="25" type="xstring" value="Item J"/>
                <entry key="26" type="xstring" value="Item K"/>
                <entry key="27" type="xstring" value="Item L"/>
                <entry key="28" type="xstring" value="Item M"/>
                <entry key="29" type="xstring" value="Item N"/>
                <entry key="30" type="xstring" value="Item O"/>
                <entry key="31" type="xstring" value="Item P"/>
                <entry key="32" type="xstring" value="Item Q"/>
                <entry key="33" type="xstring" value="Item R"/>
                <entry key="34" type="xstring" value="Item S"/>
                <entry key="35" type="xstring" value="Item T"/>
                <entry key="36" type="xstring" value="Item U"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="false"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
        <entry key="failIfMissingColumns" type="xboolean" value="false"/>
        <entry key="delimiter" type="xstring" value=","/>
        <entry key="delimiterInputs" type="xstring" value="QUOTE"/>
        <entry key="quote_char" type="xchar" value="&quot;"/>
        <entry key="is_quoting_always" type="xboolean" value="false"/>
        <entry key="replace_delimiter" type="xstring" value=""/>
        <entry key="new_column_name" type="xstring" value="Combined string"/>
        <entry key="remove_included_columns" type="xboolean" value="false"/>
    </config>
    <config key="variables"/>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Column Combiner concatenates %%00010&quot;compare_result&quot; and %%00010&quot;classified names&quot; columns, %%00010creating a &quot;Combined string&quot; %%00010column with values like &quot;?,Noisy&quot; %%00010and name+Clean&quot;"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="0"/>
        <entry key="y-coordinate" type="xint" value="0"/>
        <entry key="width" type="xint" value="0"/>
        <entry key="height" type="xint" value="0"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.colcombine2.ColCombine2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Combiner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.0.v202412040959"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.0.v202412040959"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Combiner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 1010, Cols: 40"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="ddfc9f9c-f4f1-4929-bb25-19fd9a6acff6"/>
    </config>
</config>
