<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="compositionMode" type="xstring" value="MATCH_ALL"/>
        <config key="matchingCriteria">
            <config key="0">
                <entry key="leftTableColumn" type="xstring" value="c_Resident"/>
                <entry key="rightTableColumn" type="xstring" value="Name"/>
            </config>
            <config key="1">
                <entry key="leftTableColumn" type="xstring" value="c_DoB"/>
                <entry key="rightTableColumn" type="xstring" value="Updated_Birthday"/>
            </config>
            <config key="2">
                <entry key="leftTableColumn" type="xstring" value="c_Current Age"/>
                <entry key="rightTableColumn" type="xstring" value="Updated_Age"/>
            </config>
            <config key="3">
                <entry key="leftTableColumn" type="xstring" value="c_Education"/>
                <entry key="rightTableColumn" type="xstring" value="Education Level"/>
            </config>
            <config key="4">
                <entry key="leftTableColumn" type="xstring" value="Location"/>
                <entry key="rightTableColumn" type="xstring" value="City"/>
            </config>
        </config>
        <entry key="dataCellComparisonMode" type="xstring" value="STRICT"/>
        <entry key="includeMatchesInOutput" type="xboolean" value="true"/>
        <entry key="includeLeftUnmatchedInOutput" type="xboolean" value="true"/>
        <entry key="includeRightUnmatchedInOutput" type="xboolean" value="true"/>
        <config key="leftColumnSelectionConfig">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="7"/>
                <entry key="0" type="xstring" value="Resident ID"/>
                <entry key="1" type="xstring" value="c_Resident"/>
                <entry key="2" type="xstring" value="c_DoB"/>
                <entry key="3" type="xstring" value="c_Current Age"/>
                <entry key="4" type="xstring" value="c_Education"/>
                <entry key="5" type="xstring" value="Location"/>
                <entry key="6" type="xstring" value="Income"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="false"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
        <config key="rightColumnSelectionConfig">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="30"/>
                <entry key="0" type="xstring" value="Customer ID"/>
                <entry key="1" type="xstring" value="Name"/>
                <entry key="2" type="xstring" value="Updated_Birthday"/>
                <entry key="3" type="xstring" value="Updated_Age"/>
                <entry key="4" type="xstring" value="Education Level"/>
                <entry key="5" type="xstring" value="City"/>
                <entry key="6" type="xstring" value="Purchase Date"/>
                <entry key="7" type="xstring" value="Shopping List"/>
                <entry key="8" type="xstring" value="Item List"/>
                <entry key="9" type="xstring" value="Item A"/>
                <entry key="10" type="xstring" value="Item B"/>
                <entry key="11" type="xstring" value="Item C"/>
                <entry key="12" type="xstring" value="Item D"/>
                <entry key="13" type="xstring" value="Item E"/>
                <entry key="14" type="xstring" value="Item F"/>
                <entry key="15" type="xstring" value="Item G"/>
                <entry key="16" type="xstring" value="Item H"/>
                <entry key="17" type="xstring" value="Item I"/>
                <entry key="18" type="xstring" value="Item J"/>
                <entry key="19" type="xstring" value="Item K"/>
                <entry key="20" type="xstring" value="Item L"/>
                <entry key="21" type="xstring" value="Item M"/>
                <entry key="22" type="xstring" value="Item N"/>
                <entry key="23" type="xstring" value="Item O"/>
                <entry key="24" type="xstring" value="Item P"/>
                <entry key="25" type="xstring" value="Item Q"/>
                <entry key="26" type="xstring" value="Item R"/>
                <entry key="27" type="xstring" value="Item S"/>
                <entry key="28" type="xstring" value="Item T"/>
                <entry key="29" type="xstring" value="Item U"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="false"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
        <entry key="mergeJoinColumns" type="xboolean" value="false"/>
        <entry key="duplicateHandling" type="xstring" value="APPEND_SUFFIX"/>
        <entry key="suffix" type="xstring" value=" (Right)"/>
        <entry key="outputUnmatchedRowsToSeparatePorts" type="xboolean" value="false"/>
        <entry key="rowKeyFactory" type="xstring" value="CONCATENATE"/>
        <entry key="rowKeySeparator" type="xstring" value="_"/>
        <entry key="outputRowOrder" type="xstring" value="ARBITRARY"/>
        <entry key="maxOpenFiles" type="xint" value="200"/>
        <entry key="enableHiliting" type="xboolean" value="false"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner3.Joiner3NodeFactory"/>
    <entry key="node-name" type="xstring" value="Joiner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.0.v202412040959"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.0.v202412040959"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Joiner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 1010, Cols: 37"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="3777f39e-52db-4240-a5dd-6c862d68ac91"/>
    </config>
</config>
